body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

:root {
  --Dark: #2e2f42;
  --Primary-Brand: #4d5ae5;
  --Light: #f4f4fd;
  --Accent: #e7e9fc;
  --Text: #434455;
}

/* цвет основного текста  NAVY BLUE color: #2E2F42; */
/* цвет вторичного текста  SLATE   #434455 */
/* Веб цвет IRIS   #4D5AE5 */
/* CLOUD   #F4F4FD */
/* вторичный цвет фона CORNFLOWER   #E7E9FC */

/* Навигация */
.logo {
  color: var(--Dark);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  list-style: none;
}

.logo-web {
  color: var(--Primary-Brand);
}

.section-title {
}

/* Header */

/* Portfolio main */

/* шрифты Roboto 400, Roboto 500, Roboto 700,  Raleway 800 */
