body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

:root {
  --Dark: #2e2f42;
  --Primary-Brand: #4d5ae5;
  --Light: #f4f4fd;
  --Accent: #e7e9fc;
  --Text: #434455;
  --Pressed-State: #404bbf;
}

/* цвет основного текста  NAVY BLUE color: #2E2F42; */
/* цвет вторичного текста  SLATE   #434455 */
/* Веб цвет IRIS   #4D5AE5 */
/* CLOUD   #F4F4FD */
/* вторичный цвет фона CORNFLOWER   #E7E9FC */
/* цвет OCEAN   #404BBF */

/* Навигация */
.logo {
  color: var(--Primary-Brand);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo.list {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--Pressed-State);
}

.list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Dark);
  list-style: none;
}

/* Adress */

.adress-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);
  list-style: none;
}

.adress {
  font-style: normal;
}

.logo-web {
  color: var(--Dark);
}

.section-title {
}

/* Hero */

.hero {
  background-color: var(--Dark);
}

.hero-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--Pressed-State);
}

.pointer {
  cursor: pointer;
}

/* Header */

/* Portfolio main */

/* шрифты Roboto 400, Roboto 500, Roboto 700,  Raleway 800 */
